<% layout('layout.ejs') %>
<div class="container mt-3">
  <a href="/" class="btn btn-gradient-outline-v1">Trang chủ</a>
  <a href="/logout" class="btn btn-outline-secondary pull-right">Đăng xuất</a>
  <div class="mt-3">
    <%- body%>
  </div>
</div>
