<div class="container mt-4">
  <h2 class="text-center">
    Cấu hình App
    <a href="/logout" class="btn btn-outline-secondary pull-right">Đăng xuất</a>
  </h2>
  <div class="card">
    <h5 class="card-header">Menu</h5>
    <div class="card-body">
      <a class="btn btn-primary dim" href="/ty-gia">Tỷ giá</a>
    </div>
    <div class="card-body">
      <a class="btn btn-primary dim" href="/upload-image">Upload hình ảnh</a>
    </div>
  </div>
</div>

