<% layout('/layouts/layout_feature.ejs') %>
<div id="app">
  <div>
    <input type="file" v-on:change="onImageChange" class="form-control d-inline-block" style="width: 200px">
    <input type="text" v-model="filename"  class="form-control d-inline-block" style="width: 200px" placeholder="Tên file">
    <button v-if="file && filename" class="btn btn-primary" @click="upload()">Upload</button>
  </div>
  <div class="mt-4">
    <div class="d-flex justify-content-center">
      <div class="img-wrapper" v-for="img in list">
        <img :src="'/upload-image/' + img.filename">
        <small class="d-block text-center">/upload-image/{{img.filename}}</small>
        <div class="text-center">
          <button class="btn btn-danger btn-sm" @click="deleteFile(img.filename)">Xoá</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      file: null,
      filename: '',
      list: []
    },
    created: function() {
      this.getData()
    },
    methods: {
      getData: async function () {
        try {
          let res = await axios.get('/upload-image/get')
          this.list = res.data.images
        } catch (e) {
          alert(e.toString())
        }
      },
      onImageChange: function (e) {
        let files = e.target.files || e.dataTransfer.files
        if (!files.length) return this.file = null
        this.file = files[0]
      },
      upload: async function () {
        try {
          let ext = this.file.name.split('.').pop()
          const formData = new FormData()
          formData.append('filename', this.filename + '.' + ext)
          formData.append('file', this.file)
          let resUpload = await axios.post('/upload-image/upload', formData, {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
          this.getData()
        } catch (e) {
          if(e.response && e.response.data) {
            alert(e.response.data.toString())
          } else alert(e.toString())
        }
      },
      deleteFile: async function (filename) {
        try {
          var r = confirm("Bạn có muốn xoá " + filename)
          if (r == true) {
            let res = await axios.post('/upload-image/remove', {filename})
            this.getData()
          }
        } catch (e) {
          alert(e.toString())
        }
      }
    },
  })
</script>
<style>
  .img-wrapper {
    border: 1px dashed #000;
    margin: 10px;
  }
  .img-wrapper img {
    max-width: 150px;
    max-height: 150px;
  }
</style>
